@import url('../../../App.css');

.Input {
  display: flex;
  flex-direction: column;
}

/* элементы */
.Input-InputTag {
  height: 40px;
  outline: none;
  width: 100%;
  border:none;
  color: var(--white);
  background-color: var(--dark-grey);
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;
  margin: 1px;
}

.Input-InputTag::placeholder {
  color: var(--white);
}

.Input-Message {
  font-size: var(--font-size-xxs);
  word-break: break-word;
  color: var(--red);
  height: 20px;
  padding-left: 10px;
  margin: 5px 0;
}

/* размеры инпута */
.Input-InputTag_size_s {
  font-size: var(--font-size-s);
}

.Input-InputTag_size_m {
  font-size: var(--font-size-m);
}

.Input-InputTag_size_l {
  font-size: var(--font-size-xl);
}

@media screen and (max-height: 800px) {
  .Input-InputTag {
    font-size: var(--font-size-s);
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .Input-InputTag {
    font-size: var(--font-size-s);
    height: 30px;
  }

  .Input-Message {
    margin: 2px 0;
  }
}