@import url('../../../App.css');

.Input {
  display: flex;
  flex-direction: column;
}

/* элементы */
.Input-InputTag {
  outline: none;
  width: 100%;
  border:none;
  color: var(--white);
  background-color: var(--dark-grey);
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;
  margin: 1px;
}
.Input-InputTag::placeholder {
  color: var(--white);
}

.Input-Message {
  font-size: var(--font-size-xxs);
  color: var(--red);
  height: 15px;
  padding-left: 2px;
}

/* размеры инпута */
.Input-InputTag_size_s {
  font-size: var(--font-size-s);
}
.Input-InputTag_size_m {
  font-size: var(--font-size-m);
}
.Input-InputTag_size_l {
  font-size: var(--font-size-xl);
}

/* цвет инпута */
