@import url('../../../App.css');

.PhotoInput {
  width: 80px;
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  color: var(--white);
  font-size: var(--font-size-s);
  cursor: pointer;
}

/* цвет карточки */
.PhotoInput_error {
  border: 1px solid var(--red);
}

/* элементы */
.PhotoInput-Layer {
  width: 100%;
  padding: 55% 0;
  position: relative;
}
.PhotoInput-Card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.PhotoInput-Photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.PhotoInput-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.PhotoInput-Input {
  width: 100%;
  box-sizing: border-box;
  display: none;
}

.PhotoInput-CloseButton {
  position: absolute;
  top: 5%;
  left: 5%;
}
