.MovieInfo-MovieCast {
    margin-left: 5%;
}

.MovieCast-Title {
    margin: 0;
}

.MovieCast-Info {
    font-weight: lighter;
    font-size: var(--font-size-xl);
}

@media screen and (max-width: 800px) {
    .MovieCast-Info {
        font-size: var(--font-size-m);
    }
    .MovieCast-Title {
        text-align: center;
        font-size: var(--font-size-l);
    }
}
@media screen and (max-width: 600px) {
    .MovieInfo-MovieCast {
        margin-top: 30px;
    }
}