:root {
  --black: #000000;
  --dark-grey: #0E0E0E;
  --grey: #343434;
  --light-grey: #5a5a5a;
  --white: #B9B9B9;
  --red: #b88484;

  --primary-text-color: var(--white);
  --primary-bg-color: var(--dark-grey);
  --secondary-bg-color: var(--black);
}
