.ScrollUp {
    outline: none;
    cursor: pointer;
    min-width: 5%;
    transition: 0.5s ease-in-out;
}

.ScrollUp:hover {
    background-color: var(--light-grey);
}

.ScrollUp-Icon {
    position: sticky;
    top: 150px;
    z-index: 1000;
    transform: rotate(270deg);
    margin: 0 33%;
}

@media screen and (max-width: 720px) {
    .ScrollUp {
        display:none;
    }
}