.Comment-ReplyComment {
    display: flex;
    align-items: center;
    background-color: var(--black);
    padding: 20px;
    min-width: 500px;
}

.ReplyComment-Textarea {
    padding: 20px;
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: var(--font-size-m);
    border: none;
    outline: none;
    margin: auto;
    width: 80%;
    min-width: 300px;
    height: 60px;
    min-height: 60px;
    resize: vertical;
}

.ReplyComment-Button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--dark-grey);
    color: var(--white);
    border: none;
}

.ReplyComment-Button:disabled {
    color: var(--grey);
    cursor: auto;
    background-color: var(--dark-grey);
}

@media screen and (max-width: 500px) {
    .Comment-ReplyComment {
        min-width: 200px;
    }

    .ReplyComment-Textarea {
        min-width: 120px;
        width: 130px;
    }

    .ReplyComment-Button {
        width: 40px;
        height: 40px;
    }
}