.MoviePage-MovieInfo {
    margin: 2% 11%;
    display: flex;
}

@media screen and (max-width: 720px) {
    .MoviePage-MovieInfo {
        margin: 5% 10%;
    }
}

@media screen and (max-width: 600px) {
    .MoviePage-PosterContainer {
        display:flex;
    }
    .MoviePage-MovieInfo {
        flex-direction: column;
    }
}
