.Comment {
    padding-left: 25px;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
}

.Comment-Box, .Comment-TreeBox {
    display: flex;
}

.Comment-Header {
    display: flex;
}

.Comment-Block {
    padding: 10px;
    width: 100%;
}

.Comment-UserInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Comment-Tree {
    width: 100%;
}

.Comment-Username {
    vertical-align: top;
    max-width: 200px;
    word-wrap: break-word;
    font-size: var(--font-size-l);
    margin-right: 100px;
}

.Comment-Info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Comment-Avatar {
    margin-right: 20px;
    width: 75px;
    min-width: 75px;
    height: 75px;
    min-height: 75px;
    border-radius: 50%;
}

.Comment-Text {
    font-size: var(--font-size-m);
}

.Comment-Timestamp {
    vertical-align: top;
    font-size: var(--font-size-m);
}

.Comment-ReplyButton {
    cursor: pointer;
    width: 150px;
    height: 40px;
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: var(--font-size-m);
    border: none;
    outline: none;
}

@media screen and (max-width: 720px) {
    .Comment {
        width: 100%;
    }
    .Comment-Avatar {
        width: 60px;
        min-width: 60px;
        min-height: 60px;
        height: 60px;
    }
    .Comment-Username {
        max-width: 150px;
        margin-right: 20%;
    }
    .Comment-Timestamp {
        margin-top: 5px;
        font-size: 12px;
    }
    .Comment-Text {
        line-height: 12px;
    }
}