.Movie {
    position: relative;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 360px;
    width: 240px;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: var(--dark-grey);
}

.PlayIcon {
    position: absolute;
    font-size: 100px;
    color: #e5e5e5;
    top: 34%;
    left: 34%;
}

.WatchedMovie {
    top: -7%;
    left: -12%;
    font-size: 60px;
    position: absolute;
    color: #551A8B;
    opacity: 75%;
}

.Movie-Image {
    width: 240px;
    height: 360px;
}

.Movie:hover .Overlay {
    opacity: 0.75;
}

.Movie-Title {
    font-weight: lighter;
    margin: auto;
    text-align: center;
    padding: 15px;
    color: #e5e5e5;
    font-size: var(--font-size-l);
}

.Movie-Link {
    text-decoration: none;
}

.Movie-Rating {
    border-radius: 15px 0 0 15px;
    text-align: center;
    font-size: var(--font-size-xl);
    width: 80px;
    height: 30px;
    background-color: #e5e5e5;
    color: var(--black);
    position: absolute;
    top: 5%;
    right: 0;
}

@media screen and (max-width: 600px) {
    .Movie-Title {
        font-size: var(--font-size-m);
        padding: 5px
    }
}