body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: var(--head-font-size);
}

.Header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}

.Nav {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.Nav-Logo, .Nav-Login, .Nav-Register {
    display: flex;
    width: 10.5%;
    outline: none;
}

.Nav-Logo {
    margin: 0 2%;
}

.Nav-Login {
    margin-right: 4%;
}

.Nav-Lang {
    display: flex;
    width: 5%;
    outline: none;
}

.Nav-Search {
    width: 51.5%;
    height: 60px;
    padding: 20px;
}

.Search-Form {
    background-color: var(--grey);
    display: flex;
    height: 60px;
    padding: 0 20px;
}

.Search-Input {
    outline: none;
    width: 100%;
    border:none;
    color: var(--white);
    background-color: var(--grey);
    font-size: var(--head-font-size);
}

.Search-Input::placeholder {
    color: var(--white);
}

.Search-Button {
    cursor: pointer;
    outline: none;
    color: var(--white);
    background: var(--grey);
    border: none;
}

.Lang, .Login-Link, .Register-Link, .Logo-Link  {
    margin: auto;
    text-align: center;
}

.Logo-Link::after {
    content: "Hypertube";
}

.Lang {
    cursor: pointer;
}

.Link {
    text-decoration: none;
    color: var(--white);
}

@media screen and (max-width: 720px) {

    .Nav {
        justify-content: center;
    }

    .Nav-Search {
        width: 60%;
        padding: 20px 10px;
    }

    .Search-Input {
        font-size: var(--font-size-l);
    }

    .Logo-Link::after {
        content: none;
    }

    .Nav-Lang {
        width: 10%;
    }

    .Nav-Logo {
        background-size: 60%;
        background-image: url("/Logo.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .Lang {
        font-size: var(--font-size-l);
    }

    .Login-Link {
        font-size: var(--font-size-l);
    }

    .Logo-Link {
        width: 100%;
        height: 100%;
    }

    .Login-Icon {
        font-size: var(--font-size-xl);
    }

    .Nav-Register {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .Header {
        position: static;
    }
    .Nav {
        justify-content: space-between;
        min-height: 60px;
        height: 60px;
    }
    .Search-Input, .Lang {
        font-size: var(--font-size-s);
    }
    .Nav-Search {
        width: 50%;
        padding: 10px 0;
    }
    .Search-Form {
        height: 40px;
        padding: 0 5px;
    }
}