.MovieList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0 7%;
}

.MovieList-Message {
    margin: 2% 1%;
    width: 100%;
}

.MovieList-Item {
     cursor: pointer;
     width: 300px;
     margin: 2% 1%;
     background-color: var(--grey);
}
