.MovieList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0 7%;
}

.MovieList-Message {
    margin: 2% 1%;
    width: 100%;
}

.MovieList-Loader {
    display:flex;
    width: 100%;
}

.MovieList-LoaderBox {
    margin:auto
}

.MovieList-Item {
     cursor: pointer;
     width: 240px;
     margin: 2% 1%;
     background-color: var(--grey);
}

@media screen and (max-width: 720px) {
    .MovieList {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .MovieList-Item {
        margin-top: 20px;
        width: 240px;
    }
    .MovieList-Message {
        font-size: var(--font-size-m);
    }
}
