@import url('../../App.css');

.RegForm-Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  z-index: 2000;
}

.RegForm {
  width: 40%;
  max-height: 80%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--grey);
  border-radius: 3px;
}

/* элементы */
.RegForm-form-name {
  margin: 10px auto;
}

.RegForm-Input {
  min-height: 60px;
}

.RegForm-Submit {
  cursor: pointer;
  height: 35px;
  border-radius: 3px;
  width: 150px;
}

.RegForm-Photo {
  margin: 15px auto;
}

.RegForm-Links {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-m);
}

.RegForm-Controls {
  width: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.RegForm-Lang {
  outline: none;
  margin-right: 10px;
  font-size: var(--font-size-m);
}

.RegForm-Link {
  text-decoration: none;
  color: var(--white);
}

.RegForm-Link:hover {
  color: #8e8e8e;
}

.RegForm-Link_link_selected {
  text-decoration: underline;
}

@media screen and (max-height: 800px) {
  .RegForm {
    min-height: 500px;
  }

  .RegForm-Submit {
    height: 30px;
  }
}

@media screen and (max-width: 900px) {
  .RegForm {
    width: 60%;
  }

  .RegForm-Submit {
    height: 35px;
    width: 90px;
  }
}

@media screen and (max-width: 400px) {
  .RegForm {
    height: 500px;
    min-height: 500px;
    width: 70%;
  }

  .RegForm-Submit {
    font-size: var(--font-size-s);
    height: 30px;
    width: 75px;
  }

  .RegForm-Links, .RegForm-Lang {
    font-size: var(--font-size-s);
  }

  .RegForm-Controls {
    width: 80px;
  }
}
