@import url('../../App.css');

.reg-form-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  z-index: 2000;
}

.reg-form {
  width: 500px;
  max-height: 560px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--grey);
  border-radius: 3px;
}

/* элементы */
.reg-form-form-name {
  margin: 10px auto;
}
.reg-form-input {
  margin: 5px 0;
}
.reg-form-submit {
  margin: 5px 0;
  width: 150px;
}

.reg-form-photo {
  margin: 15px auto;
}

.reg-form-links {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-m);
}

.reg-form-controls {
  display: flex;
  flex-direction: row;
}

.reg-form-lang {
  margin-right: 10px;
  font-size: var(--font-size-m);
}

.reg-form-link {
  text-decoration: none;
  color: var(--white);
}

.reg-form-link-selected {
  text-decoration: underline;
}
