.Genre {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Genre-Image {
    width: 225px;
    height: 150px;
}

.Genre-Title {
    margin: 5px auto 0;
    text-align: center;
    font-size: var(--font-size-xl);
    text-decoration: underline;
}